*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: "Manrope", sans-serif !important;
}

:root{
  --title-font: font-family: "Merriweather", serif;
  --main-color: #6933D9;
  --hover-color: #4411b2;
  --grey-color: #ccc;
  --text-color: #333;
  --title-color: #222;
}

h1, h2, h3, h4, h5, h6{
  color: var(--title-color);
  font-family: var(--title-font);
}